body {
    margin: 0;
    padding: 0;
}

#site {
    font-family: arial, sans-serif;
    font-size: 10px;
}

nav ul#menu {
    background-color: #495931;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    line-height: 60px;
}

a:link, a:active {
    font-size: 1.9em;
    text-transform: uppercase;
    text-decoration: none;
    color: #F2F2F2;
    padding: 18px;
    text-shadow: 1px 1px #000;
}

a:hover, a:visited {
    background-color: #7A8C51;
    color: #000;
    text-shadow: 1px 1px #FFF;
}

#banner {
    background-image: url("../images/3.jpg");
    width: 100%;
    height: 740px;
    background-size: cover;
}
